<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <label>
            <input matInput placeholder="Username" [formControlName]="'username'" name="username">
          </label>
        </mat-form-field>
        <div *ngIf="messageUsername">
          <p class="text-danger">{{ messageUsername }}</p>
        </div>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" [formControlName]="'password'" name="password">
        </mat-form-field>
        <div *ngIf="messagePassword">
          <p class="text-danger">{{ messagePassword }}</p>
        </div>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Log in</button>
    </form>
  </mat-card>

</div>
