<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="brand-name">GOMITO </span>

    <mat-form-field appearance="outline" fxFlex="300px">
        <input matInput placeholder="Search" class="search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row">
        <li>
          <button mat-icon-button>
            <mat-icon>add_circle</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
