<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="brand-name" (click)="toDashboard()" [textContent]="'GOMITO '"></span>

    <mat-form-field appearance="outline" fxFlex="225px">
      <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search" class="search">
    </mat-form-field>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row">
        <li>
          <button mat-icon-button>
            <mat-icon (click)="openCreateForm()">add_circle</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changePw()">
              <mat-icon>lock</mat-icon>
              Change password
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
