ul li {
  list-style: none;
}

.brand-name {
  margin-right: 12px;
  font-size: larger;
}

.brand-name :hover {
  cursor: pointer;
}

mat-form-field {
  font-size: 13px;
  padding-top: 12px;
}

.search-menu {
  height: 500px;
  width: 300px ;
}

.card-description {
  float: left;
}

.card-name {
  float: left;
  width: 20%;
}
