<app-header></app-header>
<mat-drawer-container>
  <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropList($event)" [cdkDropListData]="test">
    <div cdkDropListGroup>

            <div class="example-container" *ngFor="let list of listModels; index as i" cdkDrag>
              <h2>{{list.listName}}</h2>
<!--              <div-->
<!--                cdkDropList-->
<!--                [cdkDropListData]="list.data"-->
<!--                class="example-list"-->
<!--                (cdkDropListDropped)="dropCard($event)">-->
                <div class="example-box" *ngFor="let item of list.data" cdkDrag>{{item}}</div>
<!--                <div *ngIf="list.data.length == 0">-->
<!--                  <div class="example-box" >Add new card</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="add-card-box" *ngIf="list.data.length > 0" (click)="openCreateCard()"> + Add new card</div>-->
            </div>
            <div class="add-list-box" (click)="openCreateList()"> + Add new list</div>

<!--      <div class="example-container" *ngFor="let list of test; index as i" cdkDrag>-->
<!--        <h2>{{list.name}}</h2>-->
<!--        <div-->
<!--          cdkDropList-->
<!--          [cdkDropListData]="list.data"-->
<!--          class="example-list"-->
<!--          (cdkDropListDropped)="dropCard($event)">-->
<!--          <div class="example-box" *ngFor="let item of list.data" cdkDrag>{{item}}</div>-->
<!--          <div *ngIf="list.data.length == 0">-->
<!--            <div class="example-box" >Add new card</div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="add-card-box" *ngIf="list.data.length > 0" (click)="openCreateCard()"> + Add new card</div>-->
<!--      </div>-->
<!--      <div class="add-list-box" (click)="openCreateList()"> + Add new list</div>-->
    </div>
  </div>
</mat-drawer-container>

