<app-header></app-header>

<mat-toolbar class="tool-bar">
  <mat-toolbar-row class="tool-bar-row">
    <span>{{boardName}}</span>
    <span class="example-spacer"></span>
    <div *ngFor="let mem of listMembers">
      <img *ngIf="mem.avatarUrl != null; else elseBlock" src="{{mem.avatarUrl}}" class="member">
      <ng-template #elseBlock>
        <button mat-mini-fab class="member">{{mem.username.charAt(0).toUpperCase()}}</button>
      </ng-template>
    </div>
    <button mat-mini-fab class="member" [matMenuTriggerFor]="addNewMember">
      <mat-icon>person_add</mat-icon>
    </button>
    <mat-menu #addNewMember="matMenu">
      <mat-form-field class="invite-member" appearance="outline">
        <mat-label>Username or email</mat-label>
        <input matInput type="text" (click)="stopPropagation($event)" [(ngModel)]="memberInfo">
        <button mat-button *ngIf="memberInfo" matSuffix mat-icon-button aria-label="Clear" (click)="memberInfo=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" class="invite-button" (click)="inviteMember()">Invite member</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <!--      Tính năng lọc card theo label-->
    <button mat-icon-button class="example-icon"
            aria-label="Example icon-button with share icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button>

    <!--      Hiện danh sách các label và thêm mới label -->
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
            aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>

  <!--  Tạo mới một DropList kéo thả các đối tượng theo chiều ngang (horizontal)
        đưa listModels gán vào data của DropList này-->
  <div cdkDropList cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="dropList($event)" [cdkDropListData]="listModels">

    <!--    Tạo ra một DropListGroup để nhóm các cái DropList bên trong có thể kéo thả-->
    <!--    các card qua lại giữa các list-->
    <div cdkDropListGroup>

      <!--      Duyệt qua các list trong mảng listModels-->
      <div class="example-container" *ngFor="let list of listModels; index as i" cdkDrag>
        <h2 (click)="openEditList(list.listId, list.listName)">{{list.listName}}</h2>

        <!--        Lấy ra danh sách các card từ cards của từng list đưa vào data của DropList con-->
        <div
          cdkDropList
          [cdkDropListData]="list.cards"
          class="example-list"
          (cdkDropListDropped)="dropCard($event)">

          <!--          Duyệt qua từng card trong cái cards của list-->
          <div class="example-box" *ngFor="let item of list.cards" cdkDrag (click)="viewCard(item.cardId, i)" fxLayout="column">
            <span class="card-name">{{item.cardName}}</span>
            <div class="member-ava" fxLayout="row" fxLayoutAlign="flex-end">
              <div *ngFor="let mem of item.members">
                <img *ngIf="mem.avatarUrl != null; else elseBlock" src="{{mem.avatarUrl}}" class="member">
                <ng-template #elseBlock>
                  <button mat-mini-fab class="member">{{mem.username.charAt(0).toUpperCase()}}</button>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="list.cards.length == 0">
            <div class="example-box" (click)="openCreateCard(list.listId, i)"> + Add new card</div>
          </div>
        </div>
        <div class="add-card-box" *ngIf="list.cards.length > 0" (click)="openCreateCard(list.listId, i)"> + Add new
          card
        </div>
      </div>
      <div class="add-list-box" (click)="openCreateList()"> + Add new list</div>
    </div>
  </div>

  <!--Display labels-->
  <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
    <h3>Search cards by label and member</h3>
    <mat-divider></mat-divider>
    <tr *ngFor="let label of labels">
      <mat-button-toggle class="show-label" (click)="filterByLabelAndMember(label, null)">{{label.labelName}}</mat-button-toggle>
    </tr>
    <!--    Thêm mới label-->
    <mat-form-field appearance="outline" class="add-label">
      <mat-label>Add new label</mat-label>
      <mat-icon matPrefix>add</mat-icon>
      <input matInput type="text" [(ngModel)]="newLabel.labelName" (keyup.enter)="saveLabel()">
    </mat-form-field>
    <mat-divider></mat-divider>
    <tr *ngFor="let member of listMembers">
      <mat-button-toggle class="show-label" (click)="filterByLabelAndMember(null, member)">{{member.username}} ({{member.email}})</mat-button-toggle>
    </tr>

  </mat-drawer>
</mat-drawer-container>

