<app-header></app-header>
<mat-drawer-container>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList, doingList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      <div *ngIf="todo.length == 0">
        <div class="example-box">Add new card</div>
      </div>
    </div>

    <div class="add-card-box" *ngIf="todo.length > 0"> + Add new card</div>
  </div>

  <div class="example-container">
    <h2>Doing</h2>
    <div
      cdkDropList
      #doingList="cdkDropList"
      [cdkDropListData]="doing"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of doing" cdkDrag>{{item}}</div>
      <div *ngIf="doing.length == 0">
        <div class="example-box">Add new card</div>
      </div>
    </div>

    <div class="add-card-box" *ngIf="doing.length > 0"> + Add new card</div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, doingList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      <div *ngIf="done.length == 0">
        <div class="example-box">Add new card</div>
      </div>
    </div>

    <div class="add-card-box" *ngIf="done.length > 0"> + Add new card</div>
  </div>

  <div class="add-list-box"> + Add new list</div>
</mat-drawer-container>

