<div *ngFor="let item of items" class="view-atm">
    <div  class="example-card" >
    <mat-card fxLayout="row">
      <div fxLayout="row">
        <img class="view-image" [src]="item.attachmentUrl" alt="">
      </div>
      <div fxLayout="column">
        <mat-card-content class="attachment-content">
          <p>{{item.attachmentName}}</p>
        </mat-card-content>
      </div>
    </mat-card>
      <div fxLayoutAlign="flex-start">
        <button mat-button (click)="openEdit(item.attachmentId, item.attachmentName)">EDIT</button>
        <button mat-button (click)="openDelete(item.attachmentId)">DELETE</button>
      </div>
  </div>
</div>


