.view-atm{
  width: 500px;
  background-size: cover;
  border: 1px #ededf0 solid;
  margin: 10px 5px;
}

.view-image{
  height: 100px;
  width: 100px;
  background-size: cover;
}

.attachment-content {
  margin: 5px 20px;
}
