<app-header></app-header>
      <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="oldPassword" >
        </label>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword" >
      </label>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
