<!--<router-outlet></router-outlet>-->

<div class="window-wrapper js-tab-parent" data-elevation="1">
  <a class="icon-md icon-close dialog-close-button js-close-window" href="#">

  </a>
  <div class="card-detail-window u-clearfix">
    <div class="window-cover hide js-card-cover-box js-stickers-area">
      <div class="window-cover-stickers js-display-stickers"></div>
      <div class="window-cover-menu hide">
        <a class="window-cover-menu-button js-card-cover-chooser" href="#">
          <span class="icon-sm icon-card-cover"></span> Ảnh bìa</a>
      </div>
    </div>
    <div class="js-card-banner">
      <div class="js-react-root">

      </div>
    </div>
    <div class="window-header js-card-detail-header">
  <span class="window-header-icon icon-lg icon-card js-card-header-icon">

  </span>
      <div class="window-title">
        <h2 class="card-detail-title-assist js-title-helper" dir="auto">9.3 [Fix] fix lỗi load khi update thì sẽ tự load
          trên board view</h2>
        <textarea class="mod-card-back-title js-card-detail-title-input" dir="auto"
                                        style="overflow: hidden; overflow-wrap: break-word; height: 33px;">

</textarea>
      </div>
      <div class="window-header-inline-content quiet js-current-list">
        <p class="u-inline-block u-bottom">trong danh sách
          <a href="#" class="js-open-move-from-header">Code Review</a>
        </p>
      </div>
      <div class="window-header-inline-content hide js-subscribed-indicator-header">
        <span class="icon-sm icon-subscribe"></span>
      </div>
    </div>
    <div class="window-main-col">
      <div class="card-detail-data u-gutter">
        <div class="card-detail-item js-card-detail-list hide">
          <h3 class="card-detail-item-header">Danh sách</h3>
          <div class="card-detail-list-badge">
            <button class="button-link card-detail-badge-list-button js-card-detail-list-badge-button">
              <span class="js-list-text"></span>
            </button>
          </div>
        </div>
        <div class="card-detail-item u-clearfix hide js-card-detail-members">
          <h3 class="card-detail-item-header mod-no-top-margin">Thành viên</h3>
          <div class="js-card-detail-members-list"><a
            class="card-detail-item-add-button js-details-edit-members mod-round"><span class="icon-sm icon-add"></span></a>
          </div>
        </div>
        <div class="card-detail-item card-detail-item-labels u-clearfix hide js-card-detail-labels">
          <h3 class="card-detail-item-header">Nhãn</h3>
          <div class="u-clearfix js-card-detail-labels-list js-edit-label"><a
            class="card-detail-item-add-button js-details-edit-labels"><span class="icon-sm icon-add"></span></a></div>
        </div>
        <div class="card-detail-item hide js-card-detail-due-date"><h3 class="card-detail-item-header">Ngày hết hạn</h3>
          <div class="card-detail-due-date-badge js-card-detail-due-date-badge"><a
            class="card-detail-badge-due-date-complete-box js-card-detail-due-date-badge-complete" href="#"
            role="button"><span class="icon-sm icon-check card-detail-badge-due-date-complete-icon"></span></a>
            <button class="button-link card-detail-badge-due-date-button"><span
              class="js-date-text card-detail-due-date-text"></span><span
              class="js-due-status card-detail-due-status-lozenge"></span></button>
          </div>
        </div>
        <div class="card-detail-item hide js-card-detail-votes"><h3 class="card-detail-item-header">Bình chọn</h3><a
          class="card-detail-badge is-clickable js-card-detail-votes-badge js-show-votes" href="#"></a></div>
        <div class="card-detail-item hide js-card-detail-age"><h3 class="card-detail-item-header">Cập nhật lần cuối</h3>
          <div class="card-detail-badge date mod-last-updated js-card-detail-age-badge past"></div>
        </div>
        <div class="plugin-detail-badges js-plugin-badges">
          <div></div>
        </div>
        <div class="u-clearfix"></div>
      </div>
      <div class="js-fill-card-detail-desc">
        <div>
          <div class="window-module">
            <div class="window-module-title window-module-title-no-divider description-title"><span
              class="icon-description icon-lg window-module-title-icon"></span>
              <h3 class="u-inline-block">Mô tả</h3>
              <div class="editable" attr="desc"><a
                class="button subtle hide-on-edit js-show-with-desc js-edit-desc js-edit-desc-button hide" href="#">Chỉnh
                sửa</a><span class="editing-members-description js-editing-members-description hide"></span></div>
            </div>
            <div class="u-gutter">
              <div class="editable" attr="desc">
                <div class="description-content js-desc-content">
                  <div class="description-content-fade-button"><span class="description-content-fade-button-text">Hiển thị mô tả đầy đủ</span>
                  </div>
                  <div class="current markeddown hide-on-edit js-desc js-show-with-desc hide" dir="auto"></div>
                  <div class="description-edit edit"><a class="helper button subtle js-format-help" href="#">Trợ giúp
                    định dạng</a><textarea
                    class="field field-autosave js-description-draft description card-description"
                    placeholder="Thêm mô tả chi tiết hơn..."></textarea></div>
                  <p class="edits-warning quiet">Bạn có những thay đổi chưa được lưu lại trong trường này. <a
                    class="js-view-edits" href="#">Xem chỉnh sửa</a> - <a class="js-discard-edits" href="#">Loại bỏ</a>
                  </p>
                  <p class="edits-error error">Nội dung chỉnh sửa không được lưu</p>
                  <p class="u-bottom js-hide-with-desc"><a
                    class="description-fake-text-area hide-on-edit js-edit-desc  js-hide-with-draft" href="#">Thêm mô tả
                    chi tiết hơn...</a></p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="window-module u-clearfix js-location-section hide">
        <div class="window-module-title window-module-title-no-divider"><span
          class="window-module-title-icon icon-lg icon-location"></span>
          <h3 class="u-inline-block">Vị trí</h3></div>
        <div class="u-gutter">
          <div class="u-clearfix js-card-location"></div>
        </div>
      </div>
      <div class="window-module u-clearfix js-custom-fields-section hide">
        <div class="window-module-title window-module-title-no-divider"><span
          class="window-module-title-icon icon-lg icon-custom-field"></span>
          <h3 class="u-inline-block">Trường tùy chỉnh</h3></div>
        <div class="u-gutter">
          <div class="u-clearfix js-custom-field-detail-badges custom-field-detail-badges">
            <div class="custom-field-detail-badges-grid"></div>
          </div>
        </div>
      </div>
      <div class="js-plugin-card-back-sections"></div>
      <div class="js-plugin-sections"></div>
      <div class="js-plugin-suggestion-sections">
        <div class="js-react-root"></div>
      </div>
      <div class="window-module js-trello-attachments-section trello-attachments-section u-clearfix hide">
        <div class="window-module-title window-module-title-no-divider"><span
          class="window-module-title-icon icon-lg icon-board"></span>
          <h3 class="u-inline-block">Tập tin đính kèm Trello</h3>
        </div>
        <div class="u-gutter">
          <div class="u-clearfix js-trello-attachments-list"></div>
          <p class="js-show-fewer-trello-attachments hide">
            <a class="quiet-button js-view-some-trello-attachments"
                                                              href="#">Hiển thị ít tệp đính kèm Trello hơn.</a>
          </p>
          <p class="js-show-more-trello-attachments hide"><a class="quiet-button js-view-all-trello-attachments"
                                                             href="#"></a>
          </p>
          <p><a class="button subtle js-attach-trello-attachment" href="#">Thêm Tệp đính kèm Trello</a></p></div>
      </div>
      <div class="window-module js-attachments-section u-clearfix hide">
        <div class="window-module-title window-module-title-no-divider"><span
          class="window-module-title-icon icon-lg icon-attachment"></span>
          <h3 class="u-inline-block">Các tập tin đính kèm</h3></div>
        <div class="u-gutter">
          <div class="u-clearfix js-attachment-list ui-sortable"></div>
          <p class="js-show-fewer-attachments hide"><a class="quiet-button js-view-some-attachments" href="#">Ẩn bớt tập
            tin đính kèm.</a></p>
          <p class="js-show-more-attachments hide"><a class="quiet-button js-view-all-attachments" href="#">Hiện tất cả
            tập tin đính kèm (-4 ẩn)</a></p>
          <p class="js-show-with-attachments hide"><a class="button subtle js-attach" href="#">Thêm tệp đính kèm</a></p>
        </div>
      </div>
      <div class="checklist-list window-module js-checklist-list js-no-higher-edits ui-sortable" style=""></div>
      <div class="window-module">
        <div class="window-module-title window-module-title-no-divider card-detail-activity"><span
          class="window-module-title-icon icon-lg icon-activity"></span>
          <h3>Hoạt động</h3>
          <div class="window-module-title-options"><span
            class="editing-members-comments js-editing-members-comments hide"></span><a
            class="subtle button js-show-details" href="#">Hiện chi tiết</a><a
            class="subtle button hide js-hide-details" href="#">Ẩn chi tiết</a></div>
        </div>
        <div class="new-comment js-new-comment mod-card-back">
          <div class="member member-no-menu"><span class="member-initials" title="Hiep Nguyen Van (hiepnguyenvan3)"
                                                   aria-label="Hiep Nguyen Van (hiepnguyenvan3)">HV</span><span
            class="member-gold-badge" title="Thành viên này có Trello Gold."></span></div>
          <form>
            <div class="comment-frame">
              <div class="comment-box">
                <textarea class="comment-box-input js-new-comment-input"
                                                 placeholder="Viết bình luận..." dir="auto"
                                                 style="overflow: hidden; overflow-wrap: break-word; height: 20px;">

                </textarea>
                <div class="comment-controls u-clearfix"><input
                  class="primary confirm mod-no-top-bottom-margin js-add-comment" disabled="" type="submit" value="Lưu"><span
                  class="comment-subscribe is-clickable is-subscribed js-comment-subscribe"
                  aria-label="Theo dõi thẻ này về những cập nhật"><span class="comment-subscribe-box"><span
                  class="icon-sm icon-check comment-subscribe-icon"></span></span><div
                  class="comment-subscribe-description">Theo dõi</div></span></div>
                <div class="comment-box-options"><a class="comment-box-options-item js-comment-add-attachment" href="#"
                                                    title="Thêm tập tin đính kèm..."><span
                  class="icon-sm icon-attachment"></span></a><a
                  class="comment-box-options-item js-comment-mention-member" href="#"
                  title="Đề cập một thành viên..."><span class="icon-sm icon-mention"></span></a><a
                  class="comment-box-options-item js-comment-add-emoji" href="#"
                  title="Thêm biểu tượng cảm xúc..."><span class="icon-sm icon-emoji"></span></a><a
                  class="comment-box-options-item js-comment-add-card" href="#" title="Thêm thẻ..."><span
                  class="icon-sm icon-card"></span></a></div>
              </div>
            </div>
          </form>
          <div class="comment-too-long-warning"><p>Bình luận của bạn quá dài! Bạn có thể thêm bình luận dưới dạng văn
            bản đính kèm hoặc cắt bớt nó.</p><input class="primary js-attach-comment" type="submit"
                                                    value="Thêm một tập tin đính kèm"><input class="js-truncate-comment"
                                                                                             type="submit"
                                                                                             value="Cắt bớt"></div>
        </div>
        <div class="js-list-actions mod-card-back"></div>
        <div class="spinner loading js-loading-card-actions" style="display: none;"></div>
        <p class="u-bottom"><a class="show-more hide js-show-all-actions" href="#">Hiển thị toàn bộ thao tác</a></p>
      </div>
    </div>
    <div class="window-sidebar">
      <div class="window-module suggested-actions-module js-suggested-actions">
        <div class="suggested-actions-settings js-suggested-actions-settings"><span class="icon-sm icon-gear"></span>
        </div>
        <h3 class="mod-no-top-margin">Đã gợi ý</h3>
        <div class="u-clearfix"><a class="button-link js-join" href="#" title="Tham gia"><span
          class="icon-sm icon-member"></span><span class="js-sidebar-action-text">Tham gia</span></a></div>
      </div>
      <div class="window-module u-clearfix"><h3 class="mod-no-top-margin js-sidebar-add-heading">Thêm vào thẻ</h3>
        <div class="u-clearfix"><a class="button-link js-change-card-members" href="#" title="Thành viên"><span
          class="icon-sm icon-member"></span><span class="js-sidebar-action-text">Thành viên</span></a><a
          class="button-link js-edit-labels" href="#" title="Nhãn"><span class="icon-sm icon-label"></span><span
          class="js-sidebar-action-text">Nhãn</span></a><a class="button-link js-add-checklist-menu" href="#"
                                                           title="Việc cần làm"><span
          class="icon-sm icon-checklist"></span><span class="js-sidebar-action-text">Việc cần làm</span></a><a
          class="button-link js-add-due-date" href="#" title="Ngày hết hạn"><span
          class="icon-sm icon-clock"></span><span class="js-sidebar-action-text">Ngày hết hạn</span></a><a
          class="button-link js-attach" href="#" title="Đính kèm"><span class="icon-sm icon-attachment"></span><span
          class="js-sidebar-action-text">Đính kèm</span></a><a class="button-link js-card-cover-chooser" href="#"
                                                               title="Ảnh bìa"><span
          class="icon-sm icon-card-cover"></span><span class="js-sidebar-action-text">Ảnh bìa</span></a></div>
      </div>
      <div class="js-plugin-buttons">
        <div class="window-module u-clearfix"><h3>Tính năng mở rộng</h3>
          <div class="u-clearfix js-button-list"></div>
          <div><a class="button-link add-button-link js-add-pups" href="#" title="Thêm Power-Ups">Thêm Power-Ups</a>
            <div class="js-card-back-pup-prompt">
              <div class="js-react-root">
                <div class="card-back-pup-upgrade-prompt-section">
                  <div class="card-back-pup-upgrade-prompt-opener">Nâng cấp để nhận các Power-Ups không giới hạn cho mỗi
                    bảng.
                  </div>
                  <div class="card-back-pup-upgrade-prompt">
                    <button class="D8PrIBfVHLaC1G _1xgAps5V3J3WWx"><span
                      class="nch-icon _2_Q6rrYCFblD3M z53beXNiDPJAy2 _39vNpql8O9h5co"><span class="sc-bdVaJa jKipYA"
                                                                                            role="img"
                                                                                            aria-label="BusinessClassIcon"><svg
                      width="24" height="24" role="presentation" focusable="false" viewBox="0 0 24 24"><path
                      fill-rule="evenodd" clip-rule="evenodd"
                      d="M7 5a2 2 0 012-2h6a2 2 0 012 2v1h2v14H5V6h2V5zm2 1h6V5H9v1zM7 9a1 1 0 011-1h2a1 1 0 011 1v7a1 1 0 01-1 1H8a1 1 0 01-1-1V9zm7-1a1 1 0 00-1 1v5a1 1 0 001 1h2a1 1 0 001-1V9a1 1 0 00-1-1h-2z"
                      fill="currentColor"></path><path
                      d="M4 6a2 2 0 00-2 2v10a2 2 0 002 2V6zm16 14V6a2 2 0 012 2v10a2 2 0 01-2 2z"
                      fill="currentColor"></path></svg></span></span>
                      <div class="_17EaYJuwhiq6Dy">Nâng cấp nhóm</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="js-butler-card-buttons">
        <div class="js-react-root">
          <div class="window-module u-clearfix">
            <div class="_3zv98wwVOVa6fE"><h3 class="mod-no-top-margin">Butler</h3><a class="button-link _1OsMT4LOi8yCME"
                                                                                     role="button" tabindex="0"><span
              class="nch-icon _2_Q6rrYCFblD3M z53beXNiDPJAy2"><span class="sc-bdVaJa jKipYA" role="img"
                                                                    aria-label="InformationIcon"><svg width="24"
                                                                                                      height="24"
                                                                                                      role="presentation"
                                                                                                      focusable="false"
                                                                                                      viewBox="0 0 24 24"><path
              fill-rule="evenodd" clip-rule="evenodd"
              d="M12 20a8 8 0 100-16 8 8 0 000 16zm0 2c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
              fill="currentColor"></path><path d="M11 11a1 1 0 112 0v5a1 1 0 11-2 0v-5zm2-3a1 1 0 11-2 0 1 1 0 012 0z"
                                               fill="currentColor"></path></svg></span></span></a></div>
            <div class="u-clearfix">
              <div><a class="button-link add-button-link" role="button" tabindex="0">Thêm nút thẻ</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="window-module u-clearfix"><h3 class="mod-no-top-margin">Thao tác</h3>
        <div class="u-clearfix"><a class="button-link js-move-card" href="#" title="Di chuyển"><span
          class="icon-sm icon-move"></span><span class="js-sidebar-action-text">Di chuyển</span></a><a
          class="button-link js-copy-card" href="#" title="Sao chép"><span class="icon-sm icon-copy"></span><span
          class="js-sidebar-action-text">Sao chép</span></a><a class="button-link js-convert-to-template" href="#"
                                                               title="Tạo mẫu"><span
          class="icon-sm icon-template-card"></span><span class="js-sidebar-action-text">Tạo mẫu</span></a><span
          class="js-template-sidebar-button hide"></span><span class="js-subscribe-sidebar-button hide"></span><a
          class="button-link toggle-button js-subscribe" title="Theo dõi thẻ để nhận thông báo khi có thay đổi."
          href="#"><span class="icon-sm icon-subscribe"></span><span>Theo dõi</span><span class="on"><span
          class="icon-sm icon-check light"></span></span></a><span class="js-vote-sidebar-button hide"></span>
          <hr>
          <a class="button-link js-archive-card" href="#" title="Lưu trữ"><span
            class="icon-sm icon-archive"></span><span class="js-sidebar-action-text"
                                                      title="Lưu trữ">Lưu trữ</span></a><a
            class="button-link js-unarchive-card hide" href="#" title="Gửi tới bảng"><span
            class="icon-sm icon-refresh"></span><span class="js-sidebar-action-text"
                                                      title="Gửi tới bảng">Gửi tới bảng</span></a><a
            class="button-link js-delete-card hide negate" href="#" title="Xoá"><span
            class="icon-sm icon-remove"></span><span class="js-sidebar-action-text">Xoá</span></a></div>
        <a class="button-link js-more-menu" href="#" title="Chia sẻ"><span class="icon-sm icon-share"></span>
          <span class="js-sidebar-action-text">Chia sẻ</span>
        </a>
      </div>
    </div>
    <p class="dropzone">Kéo thả tập tin vào đây để tải lên.</p>
    <p class="dropzone-limited attachments-per-card">Quá nhiều tệp đính kèm trên thẻ này.</p>
    <p class="dropzone-limited attachments-per-board">Quá nhiều tệp đính kèm trên bảng này.</p>
    <p class="dropzone-restricted attachments-restricted">Không được doanh nghiệp của bạn cho phép.</p>
  </div>
</div>
