/*mat-grid-tile {*/
/*  border: 1px black solid;*/
/*}*/
.form-field {
  width: 100%;
  font-size: 20px;
  /*font-weight:bold;*/
}

.description {
  width: 100%;
  font-size: 18px;
}

.add-member-button {
  margin: 5px 10px 0;
  width: 200px;
  height: 60px;
  font-size: 15px;
}

.member {
  margin-left: 5px;
  background-color: #C2BAC8;
  font-size: 20px;
  width: 45px;
  height: 45px;
  justify-content: center;
}

.member-avatar {
  background-color: #C2BAC8;
  font-size: 23px;
  color: #FAFBFC;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  margin-left: 5px;
}

.add-item {
  width: 90%;
  height: 50px;
  margin: 5px 15px;
}

.side-tool {
  width: 100%;
  height: 100%;
}

.choose-label {
  height: 50px;
  width: 160px;
  margin: 5px 10px;
}

.show-label {
  width: 100%;
  height: 100%;
}

.labels {
  height: 50px;
  width: 100px;
  margin-left: 5px;
  margin-top: 25px;
  float: left;
}

.atm-border {
  border: 1px black solid;
}

.btn-block{
  margin-top: 15px;
}

.add-comment{
  width: 500px;
}
