<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [rowspan]="1" [colspan]="3">
    Tiêu đề
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="4" [colspan]="1">
    <div fxLayout="column">
      <h3>ADD TO CARD</h3>
      <button mat-raised-button color="primary" (click)="addAttachment()">Attachment</button>
    </div>


  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="3">
    Thành Viên
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="3">
    Mô Tả</mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="3">
    Hoạt Động
  </mat-grid-tile>

</mat-grid-list>

