<div *ngFor="let item of items" class="comment-view">
  <div>
    <img *ngIf="item.guser.avatarUrl != null; else elseBlock" src="{{item.guser.avatarUrl}}" class="member-avatar">
    <ng-template #elseBlock>
      <button mat-mini-fab class="member-avatar">{{item.guser.username.charAt(0).toUpperCase()}}</button>
    </ng-template>
  </div>
  <mat-card  class="example-card" fxLayout="row">
    <div fxLayout="column">
      <mat-card-content class="comment-view">
        <p>{{item.content}}</p>
      </mat-card-content>
    </div>
  </mat-card>

</div>

