.mat-icon {
  vertical-align: middle;
  margin-right: 20px;
}

/*mat-drawer-container {*/
/*  background-color: #FAFBFC;*/
/*}*/

.profile-card {
  text-align: center;
  padding: 5px;
}

.profile-card>img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

mat-drawer {
  width: 350px;
  padding: 15px 20px 0 15px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}
