<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How to Create responsive Homepage</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header>
<!--  <div class="wrapper">-->
<!--    <div class="logo">-->
<!--      <h1></h1>-->
<!--      <img src="../../assets/logo/c3a79140-c2b7-40fe-8283-d19e30eaf784_200x200.png" height="200" width="200" alt=""/>-->
<!--    </div>-->
<!--  </div>-->
  <div class="banner-text">
    <h1>
      Welcome To Gomito
    </h1>
  </div>
  <br/>
  <div class="button">
    <a class="btn" routerLink="signup">Sign Up</a>
    <a class="btn" routerLink="login">Log In</a>
  </div>
</header>
</body>
</html>
